
{% extends 'base.html' %}
{% block title %} Secret |  Profile for {{profile.user.username}} {% endblock %}

{% block body %}
	<h1 class="text-center m-3 blue-underline">Profile for {{profile.user.username}}</h1>
	<center>
	{% if profile %}
			<div class="m-2 border rounded-3 p-2 d-inline-block col-3 text-start">
				Username: {{profile.user.username}} <br>
				Link: <a href="{% url 'my-profile' profile.user.username %}">@{{profile.user.username|lower}}</a> <br>
				Last Updated: {{profile.date_modified}} <br> <br>

				<strong>Follows: </strong> <br>
				{% for following in profile.follows.all %}
					<a href="{% url 'my-profile' following.user.username %}">@{{following}}</a>
				{% endfor %}

				<br>

				<strong>Followers:</strong> <br>
				{% for follower in profile.followed_by.all %}
					<a href="{% url 'my-profile' follower.user.username %}">@{{follower}}</a>
				{% endfor %}

			</div>
	{% endif %}
	</center>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}