
{% extends 'base.html' %}
{% block title %} Profiles {% endblock %}

{% block body %}
	<h1 class="text-center m-3 blue-underline">Profiles</h1>
	<center>
	{% if profiles %}
		{% for profile in profiles %}
			<div class="m-2 border rounded-3 p-2 d-inline-block col-3 text-start">
				Username: {{profile.user.username}} <br>
				Link: <a href="{% url 'my-profile' profile.user.username %}">@{{profile.user.username|lower}}</a> <br>
				Last Updated: {{profile.date_modified}}
			</div>
		{% endfor %}
	{% endif %}
	</center>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}