{% extends 'base.html' %}
{% load static %}
{% block title %} Are you sure you want to delete {{ rental.address }}? {% endblock %}
{% block header %}{% endblock %}

<style>
    .bg-darr{
        background-color: rgb(209, 221, 232);
    }
</style>

{% block body %}
{% if l_user == rental.user.username %}
<div class="container py-5 my-5 text-dark">
  <div class="text-center bg-darr p-5 rounded-4 shadow-lg border border-danger-subtle">
    <h1 class="text-danger fw-bold mb-4">Delete Your Rental?</h1>
    <p class="fs-5 text-dark mb-5">
        Rental Address: <span class="text-decoration-underline text-black">{{rental.address}}</span>
    </p>
    <p class="fs-5 text-dark mb-5">
      This action is <span class="text-warning">permanent</span> and cannot be undone. <br>
      Are you sure you want to proceed?
    </p>

    <div class="d-flex justify-content-center gap-4">
      <a onclick="history.back()" class="btn btn-outline-primary px-4 py-2 fs-5">No, Take Me Back</a>
      <a href="{% url 'delete_rental' rental.id %}" class="btn btn-outline-danger px-4 py-2 fs-5">Yes, Delete</a>
    </div>
  </div>
</div>

{% else %}
    <div class="container text-center my-5 py-5">
        <div class="alert alert-danger fw-bold fs-4" role="alert">
            YOU DO NOT HAVE PERMISSION TO ACCESS THIS PAGE!!
        </div>
        <a href="{% url 'home' %}" class="btn btn-danger px-4">GET OUT!</a>
    </div>
{% endif %}

<br><br><br>
{% endblock %}
{% block footer %}{% endblock %}