

{% extends 'base.html' %}
{% block title %} Are you sure you wanna logout?{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<div class="container py-5 my-5">
  <div class="text-center bg-dark p-5 rounded-4 shadow-lg border border-danger-subtle">
    <h1 class="text-danger fw-bold mb-4">Logout?</h1>
    <p class="fs-5 text-light mb-5">
      Are you sure you want to <span class="text-warning">logout</span>?
    </p>

    <div class="d-flex justify-content-center gap-4">
      <a onclick="history.back()" class="btn btn-outline-primary px-4 py-2 fs-5">No, Take Me Back</a>
      <a href="{% url 'logout' %}" class="btn btn-outline-danger px-4 py-2 fs-5">Yes, Logout</a>
    </div>
  </div>
</div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
