
{% extends 'base.html' %}
{% block title %} Why should you not unfollow yourself? {% endblock %}

{% block body %}
	<h1 class="blue-underline text-center text-warning">Why should you not unfollow yourself?</h1> <br>

	<center><div class="container fs-3 m-3 p-5">
		<p>Following your own profile on <span class="text-primary">DaRentals</span> allows you to see, edit and delete your rentals. <span class="text-decoration-underline">If you unfollow yourself, you will have problems with managing your rentals</span>.</p>

		<p class="mt-2">Developer is currently working on resolving this issue. (Yah poiii There is no issue. It's all good)</p>
	</div></center>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}